{% extends 'base.html' %}
{% load static %}
{% block 'main' %}

<!-- Main section start -->
<div class="row mt-3">
    <div class="col-md-9">
         <h5 class="bg-danger text-white p-1">Customer Details</h5>

         <table class="table table-borderless">
                 <tr>
                       <th>Customer Name</th>
                       <td>{{user.username}}</td>
                 </tr>
                 <tr>
                   <th>Mobile Number</th>
                   <td>9898989898</td>
                </tr>

                <tr>
                 <th>Email</th>
                 <td>{{user.email}}</td>
              </tr>

             </table>
       
         <h5 class="bg-danger text-white p-1">Order Details</h5>
         {% for x in orders %}
         <div class="row mt-3">
                  <div class="col-md-3">
                     <img src="{{x.pid.pimage.url}}" width="100%" height="200px" alt="">
                  </div>

                  <div class="col-md-9">
                     <table class="table table-borderless">
                      <tr>
                        <th>Order Id</th>
                        <td>{{x.order_id}}</td>
                      </tr>
                       <tr>
                            <th>Product Name</th>
                            <td>{{x.pid.name}}</td>
                       </tr>
                       <tr>
                         <th>Price</th>
                         <td>Rs.{{x.pid.price}}</td>
                       </tr>
                       <tr>
                        <th>Quantity</th>
                        <td>{{x.qty}}</td>
                      </tr>
                       <tr>
                         <th>Product Category</th>
                         {% if x.pid.cat == 1 %}
                         <td>Mobile</td>
                         {% elif x.pid.cat == 2 %}
                         <td>Shoes</td>
                         {% else %}
                         <td>Cloths</td>
                         {% endif %}
                       </tr>
                     
                       <tr>
                            <td><a href="/removeorder/{{x.id}}"><button class="btn btn-danger">Remove</button></a></td>
                       </tr>
                     </table>
                  </div>
         </div>
         {% endfor %}
    </div>

    <div class="col-md-3">
     <h5 class="bg-danger text-white p-1">Order Total</h5>
     <table class="table table-borderless">
           <tr>
                <th>Total Items</th>
                <td>{{n}}</td>
           </tr>
           <tr>
                 <th>Total Amount</th>
                 <td>Rs.{{amt}}</td>
           </tr>
           <tr>
                 <td><a href="/makepayment"><button class="btn btn-danger">Make Payment</button></a></td>
           </tr>

     </table>
    </div>

</div>

  <!--- Main section end-->
{% endblock 'main' %}